@tailwind base;
@tailwind components;
@tailwind utilities;
.form-section {
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.05);
}

.form-section h2 {
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
}
